 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>À propos</h2>
                     <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-1">
                 <p>Le <b> Breizh Data Day </b> est le rendez-vous à ne pas manquer pour tous les passionnés de la donnée en Bretagne.</p>
                    <p>Au programme : 
                                   <br>Des conférences TECH (algorithmes, science, techniques, etc.), 
                                   <br> des sessions RETEX (Retours d'expérience, projets, etc.) 
                                   <br> et des rencontres avec d'autres passionnés. </p>
                </div>
                <div class="col-lg-5">
                    <p> Rendez-vous le jeudi 28 mars 2024 pour la 5ème édition. <br> <br>
                     </p>         
                    <p> <br> <br> Pour tout savoir sur le <b> Breizh Data Day 2024</b>, <br> 
                     voici l'adresse du nouveau site web 2024  
                     <a href="https://breizhdataday.innozh.fr" target="_blank"> <b> Breizh Data Day </b></a>   
                     <br> <br>
                     Et il y a aussi la page Linkedin du <b> Breizh Data Day 2024 </b> 
                     <a href="https://fr.linkedin.com/showcase/breizh-data-day" target="_blank"> ICI</a>   
                </p>                 
                </div>
            </div>
        </div>
    </section>
