    <!-- Header -->
    <!-- Landing page before bounce to new BDD2024 website -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
              <a href="https://breizhdataday.innozh.fr/" target="_self">  
                        <img class="img-responsive" src="img/Couv-site-web_BBD2024.png">
                        <b>  </b>
              </a> 
                    </div>
                </div>
            </div>
        </div>
    </header>
