  <!-- Program Section -->
    <section class="programme" id="programme">
        <div class="container">
                 <h3> - - - - - </h3>
                 <p>
<!-- Neutralisation de l'affichahe de cette section  -->
<!--               <h3> <em> Stay tuned! </em> 
                   <p>  En attendant le programme complet, abonnez-vous à notre page Linkedin 
                        <br>pour être sûr de ne rater aucune actualité liée au <b> Breizh Data Day </b>. 
                        <br> <br> LinkedIn BDD2024, c'est par ICI > <code>
                        <a href="https://www.linkedin.com/showcase/breizh-data-day" target="_self"> Clic. </a>
                                                                </code>
                 </h3>
                    <hr class="star-light">            -->
                </div>
            <p>
            <p>
            <p>
<!--               
            <div class="row">
                <div class="col-lg-12 text-center">
                 <h3> Pour mémoire, voici le Programme BDD2023 </h3>
                    <hr class="star-light">
                </div>
            </div>
                                                            -->
    
    </section>

