  <!-- About Section -->
    <section class="programme" id="programme">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                 <h3> - - - - - </h3>
                 <p>
                 <h3> <em> Stay tuned! </em> 
                   <p>  En attendant le programme complet, abonnez-vous à notre page Linkedin 
                        <br>pour être sûr de ne rater aucune actualité liée au <b> Breizh Data Day </b>. 
                        <br> <br> LinkedIn BDD2023, c'est par ICI > <code>
                        <a href="https://www.linkedin.com/showcase/breizh-data-day" target="_self"> Clic. </a>
                                                                </code>
                 </h3>
                    <hr class="star-light">
                </div>
            <p>
            <p>
            <p>
              
            <div class="row">
                <div class="col-lg-12 text-center">
                 <h3>Programme </h3>
                    <hr class="star-light">
                </div>
            </div>
          <h4> Sessions RETEX <sub> (Retours d'expérience) - Salle CÔTES D'ARMOR (grand amphi) <br> 
            <i> Liste des sessions et horaires </i> </sub> </h4>
            <div class="row">

                <div class="col-lg-6 col-lg-offset-2">
                    <p class = "titre">Matinée</p>
                    <p>9h30 - Yann DIEULANGARD, <em>BDI</em>
                    <p>10h15 - Sylvain BARTHELEMY, <em>TAC Economics</em>
                    <p>11h - <em>Pause Networking</em>
                    <p>11h30 - M.Chemaly et G.Larivière-Gauthier, <em>ANSES-CNAM</em>
                    <p>12h15 - <em>Pause Déjeuner</em></p>
                </div>

                <div class="col-lg-5 col-lg-offset-5">
                    <p class = "titre">Après-midi</p>
                    <p>13h30 - Romain VALLEE, <em>Civiteo</em>
                    <p>14h15 - Valérie BONNARDOT, <em>LETG / UR2</em>
                    <p>15h - <em>Pause Networking</em>
                    <p>15h30 - Alexandre SOLACOLU, <em>Hoali</em>
                    <p>16h15 - Table ronde 4 experts, <em>Crédit Agricole 22</em>
                    <p>17h - Mot de la fin, <em>INNÔZH - French Tech St Brieuc Bay</em>
                </div>>
            </div>
          <br> <h4> Conférences TECH <sub> (Algorithmes et technologies) - Salle ROSANBO <br>
                 <i> Liste des conférences et horaires </i> </sub> </h4>
            <div class="row">
                <!--<p> A préciser graduellement ...</p>>-->
                <div class="col-lg-6 col-lg-offset-2">
                    <p class = "titre">Matinée</p>
                    <p>9h30 - Thierry HERVE, <em>MASA Group</em>
                    <p>10h15 - Matthieu BOUSSARD, <em>Craft A.I.</em>
                    <p>11h - <em>Pause Networking</em>
                    <p>11h30 - Loïc EYANGO, <em>Adventiel</em>
                    <p>12h15 - <em>Pause Déjeuner</em></p>
                </div>
                <div class="col-lg-5 col-lg-offset-5">
                    <p class = "titre">Après-midi</p>
                    <p>13h30 - Sarah LEROY & Clément FRANCOIS, <em>Kereval</em>
                    <p>14h15 - Hassan MAISSORO, <em>Datastorm</em>
                    <p>15h - <em>Pause Networking</em>
                    <p>15h30 -Manuel CLERGUE, <em>ESIEA Laval</em>
                    <p>16h15 - L. REGIS-CONSTANT, K. GUEZENNEC, <em>Smile</em>
                    <p>17h - Mot de la fin, <em>INNÔZH - French Tech St Brieuc Bay</em>
              </div>
            </div>
        </div>
    </section>

