  <!-- About Section -->
    <section class="programme" id="programme">
        <div class="container">
          <div class="row">
                <div class="col-lg-12 text-center">
                 <h3>En prélude, <p> Voici un aperçu non-exhaustif des conférences prévues <p> lors du Breizh Data Day 2023 </h3>
                    <hr class="star-light">
                </div>
            </div>
          
           <div class="col-lg-6 col-lg-offset-2">
             <p class = "titre"> <strong> Sujet </strong> </p>
                    <p>-- <em> Biais cognitifs dans la gestion de la donnée : impacts et solutions </em>
                    <p>-- <em> Potentiel climatique de la Bretagne pour la viticulture </em>
                    <p>-- <em> Séries temporelles fonctionnelles / Estimations, prévisions </em>
                    <p>-- <em> Comportements humains / Simulation comportementale </em>
                    <p>-- <em> Zoio - Traitement d'images sur caméra </em>
                    <p>-- <em> Cartographie des acteurs I.A. / Data en Bretagne </em>
                    <p>-- <em> Les datas pour la Sécurité Alimentaire </em>
                    <p>-- <em> Data pour réduire notre impact conso sur l'environnement </em>                
                    <p>-- <em> Qu'est-ce que l'I.A. ? Les différents modèles d'I.A. </em>      
                    <p>-- <em> Mise en production d'une I.A. de confiance </em>                         
                    <p>-- <em> Fake news detection </em>    
                    <p>-- <em> La Data Science dans le domaine bancaire </em>                             
          </div>

          <div class="col-lg-4">
                    <p class = "titre"> <strong> Conférencier </strong> </p>
                    <p>-- <em> L. REGIS-CONSTANT et K. GUEZENNEC (SMILE) </em>
                    <p>-- <em> Valérie BONNARDOT (LETG / UR2) </em>
                    <p>-- <em> Hassan MAISSORO (Datastorm) </em>
                    <p>-- <em> Thierry HERVE (MASA Group) </em>
                    <p>-- <em> Thomas ROC (Electronic Brain) </em>
                    <p>-- <em> Yann DIEULANGARD (BDI) </em>
                    <p>-- <em> Marianne CHEMALY (ANSES / CNAM) </em>                     
                    <p>   <em>  </em>
                    <p>-- <em> Alexandre SOLACOLU (Hoali)  </em>      
                    <p>-- <em> Sylvain BARTHELEMY (TAC Economics) </em>
                    <p>-- <em> Matthieu BOUSSARD (Craft A.I.) </em>         
                    <p>-- <em> Ewa KIJAK (IRISA / LINKMEDIA) </em>   
                    <p>-- <em> Table ronde de 4 experts (Crédit Agricole) </em>                         
          </div>>
          
            <div class="row">
                <div class="col-lg-12 text-center">
                 <h3> - - - - - </h3>
                 <p>
                 <h3> <em> Stay tuned! </em> 
                   <p>  En attendant le programme complet, abonnez-vous à notre page Linkedin 
                        <br>pour être sûr de ne rater aucune actualité liée au <b> Breizh Data Day </b>. 
                        <br> <br> LinkedIn BDD2023, c'est ICI > <a href="https://www.linkedin.com/showcase/breizh-data-day" target="_self"> ICI. </a>                    
                 </h3>
                    <hr class="star-light">
                </div>
            <p>
            <p>
            <p>
              
            <div class="row">
                <div class="col-lg-12 text-center">
                 <h3>Programme </h3>
                    <hr class="star-light">
                </div>
            </div>
          <h4> Sessions RETEX <sub> (Retours d'expérience) - Salle Rosanbo <br> 
            <i> Liste des sessions et horaires </i> </sub> </h4>
            <div class="row">

                <div class="col-lg-6 col-lg-offset-2">
                    <p class = "titre">Matinée</p>
                    <p>9h30 - Yann DIEULANGARD, <em>BDI</em>
                    <p>10h15 - Sylvain BARTHELEMY, <em>TAC Economics</em>
                    <p>11h - <em>Pause Networking</em>
                    <p>11h30 - A venir, <em>A venir</em>
                    <p>12h15 - <em>Pause Déjeuner</em></p>
                </div>

                <div class="col-lg-5 col-lg-offset-5">
                    <p class = "titre">Après-midi</p>
                    <p>13h30 - A venir, <em>A venir</em>
                    <p>14h15 - Valérie BONNARDOT, <em>LETG / UR2</em>
                    <p>15h - <em>Pause Networking</em>
                    <p>15h30 - Jacques PRIOL, <em>CIVITEO</em>
                    <p>16h15 - Table ronde 4 experts, <em>Crédit Agricole 22</em>
                    <p>17h - Mot de la fin, <em>INNÔZH - French Tech St Brieuc Bay</em>
                </div>>
            </div>
          <br> <h4> Conférences TECH <sub> (Algorithmes et technologies) - Salle Côtes d'Armor <br>
                 <i> Liste des conférences et horaires </i> </sub> </h4>
            <div class="row">
                <!--<p> A préciser graduellement ...</p>>-->
                <div class="col-lg-6 col-lg-offset-2">
                    <p class = "titre">Matinée</p>
                    <p>9h30 - A venir, <em>A venir</em>
                    <p>10h15 - A venir, <em>A venir</em>
                    <p>11h - <em>Pause Networking</em>
                    <p>11h30 - A venir, <em>A venir</em>
                    <p>12h15 - <em>Pause Déjeuner</em></p>
                </div>
                <div class="col-lg-5 col-lg-offset-5">
                    <p class = "titre">Après-midi</p>
                    <p>13h30 - A venir, <em>A venir</em>
                    <p>14h15 - Hassan MAISSORO, <em>Datastorm</em>
                    <p>15h - <em>Pause Networking</em>
                    <p>15h30 - A venir, <em>A venir</em>
                    <p>16h15 - L. REGIS-CONSTANT et K. GUEZENNEC, <em>SMILE</em>
                    <p>17h - Mot de la fin, <em>INNÔZH - French Tech St Brieuc Bay</em>
                </div
            </div>
        </div>
    </section>

